.logo h1 {
    font-size: 36px;
    color: #ffffff; 
    margin: 0; 
}

.logo p {
    font-size: 14px;
    color: #FFAA30; 
    margin: 0; 
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFAA30; 
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.search-bar input {
    padding: 10px;
    border: 2px solid #A8D8B9; 
    border-radius: 5px;
    width: 250px; 
    transition: border-color 0.3s;
}

.search-bar input:focus {
    border-color: #2C6E49; 
}


button {
    background-color: #FFAA30; 
    color: #3e3e3e; 
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #FF8F00; 
    transform: scale(1.05); 
}


.hero {
    position: relative; 
    background: url(../static/foodshare.jpeg) no-repeat center center/cover; 
    width: 1500px;
    height: 67vh; 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-align: left; 
    color: #fff;
    padding: 20px; 
}


.hero::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}


.hero-content {
    position: relative; 
    z-index: 2; 
}

.hero-content h2 {
    font-size: 40px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.hero-content p {
    font-size: 18px;
    margin-top: 10px;
}


.about {
    padding: 20px;
    text-align: center; 
}

footer {
    height: 8%;
    position: relative; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin: 40px 0;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 100%;
    }

    .hero-content h2 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }
}