.header-container {
    width: 100%;
}

.logo {
    text-align: left;
}

.logo h1 {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}

.logo p {
    font-size: 14px;
    color: #FFAA30;
    margin: 0;
}


.center-nav {
    margin-left: auto; 
}

.center-nav .header-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.center-nav .header-links li {
    margin: 0 10px;
}

.center-nav .header-links li a {
    background-color: #FFAA30; 
    color: #3e3e3e;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    font-size: 16px;
}

.center-nav .header-links li a:hover {
    background-color: #FF8F00; 
    transform: scale(1.05);
}


.terms {
    padding: 40px 20px;
    background-color: #ffffff;
    color: #333;
    flex-grow: 1; 
}

.terms h2 {
    font-size: 32px;
    color: #2C6E49; 
    margin-bottom: 20px;
}

.terms h3 {
    font-size: 24px;
    color: #2C6E49; 
    margin-bottom: 15px;
}

.terms p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .terms h2 {
        font-size: 28px;
    }

    .terms p {
        font-size: 16px;
    }
}
